
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to FPT Information System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/SplashPage/css/style.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        function sendEmail() {
            var inputValue = $('[name=email]')[0].value;
            if (inputValue) {
                $.ajax({
                    "method": "POST",
                    "dataType": "json",
                    "url": '@Url.Action("CheckEmail")',
                    "data": {
                        "__RequestVerificationToken": $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val(),
                        "email": inputValue,
                    },
                    "success": function (data) {
                        if (data.success == true) {
                            $('[name=code]').removeAttr('disabled');
                            $('[name=loginWifi]').removeAttr('disabled');
                            $('[name=email]').attr("disabled", "disabled");
                            $('[name=checkEmail]').attr("disabled", "disabled");
                        } else {
                            var label = $('label[for=email]');
                            if (!label.hasClass('hidden')) {
                                label.addClass('hidden');
                            }
                        }

                    },
                    "error": function(error) {
                        console.log(error);
                    }
                });
            }
        }

        function checkCode() {
            var inputValue = $('[name=code]')[0].value;
            if (inputValue) {
                $.ajax({
                    "method": "POST",
                    "dataType": "json",
                    "url": '@Url.Action("CheckCode")',
                    "data": {
                        "inpCode": inputValue,
                    },
                    "success": function(data) {
                        if (data.success == true) {
                            submitAction();
                        } else {
                            var label = $('label[for=code]');
                            if (!label.hasClass('hidden')) {
                                label.addClass('hidden');
                            }
                        }
                    },
                    "error": function(error) {
                        console.log(error);
                    }
                });
            }
        };

        $('[name=email]').on('focus',
            function(e) {
                var label = $('label[for=email]');
                if (!label.hasClass('hidden')) {
                    label.addClass('hidden');
                }
            });

        $('[name=code]').on('focus',
            function (e) {
                var label = $('label[for=code]');
                if (!label.hasClass('hidden')) {
                    label.addClass('hidden');
                }
            });

        $('#login-from').on('submit',
            function (e) {
                var inputValue = $('[name=code]')[0].value;
                $.ajax({
                    url: '@Url.Action("CheckCode")',
                    method: "POST",
                    data: {
                        "__RequestVerificationToken": $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val(),
                        "inpCode": inputValue,
                    },
                    type: "json",
                    success: function(data) {
                        if (data.success == false) {
                            var label = $('label[for=code]');
                            if (label.hasClass('hidden')) {
                                label.removeClass('hidden');
                            }
                            e.preventDefault();
                        } else {
                            createSubmitForm();
                        }
                    },
                    error: function (error) {
                        $('[name=code]').attr('disabled');
                        $('[name=loginWifi]').attr('disabled');
                        $('[name=email]').removeAttr("disabled", "disabled");
                        $('[name=checkEmail]').removeAttr("disabled", "disabled");
                        alert("Something wrong happened!Please try again!");
                        e.preventDefault();
                    }
                });
            });



        function createSubmitForm() {
            var link = document.location.href;
            var searchString = "redirect=";
            var equalIndex = link.indexOf(searchString);
            var redirectUrl = "";
            
            var args = new Object();
            var query = location.search.substring(1);
            var pairs = query.split("&");
            for (var i = 0; i < pairs.length; i++) {
                var pos = pairs[i].indexOf('=');
                if (pos == -1) continue;
                var argname = pairs[i].substring(0, pos);
                var value = pairs[i].substring(pos + 1);
                args[argname] = unescape(value);
            }
            document.forms[0].action = args.switch_url;

            if (equalIndex >= 0) {
                equalIndex += searchString.length;
                redirectUrl = "";
                redirectUrl += link.substring(equalIndex);
            }
            if (redirectUrl.length > 255)
                redirectUrl = redirectUrl.substring(0, 255);
            document.forms[0].redirect_url.value = redirectUrl;

            document.forms[0].buttonClicked.value = 4;
            document.forms[0].err_flag.value = 0;
            
        }

        //function reject() {
        //    alert("You will not be able to access the system!");
        //}
        
        //function loadAction() {
        //    //var url = window.location.href;

        //    var args = new Object();
        //    var query = location.search.substring(1);
        //    var pairs = query.split("&");
        //    for (var i = 0; i < pairs.length; i++) {
        //        var pos = pairs[i].indexOf('=');
        //        if (pos == -1) continue;
        //        var argname = pairs[i].substring(0, pos);
        //        var value = pairs[i].substring(pos + 1);
        //        args[argname] = unescape(value);
        //    }
        //    document.forms[0].action = args.switch_url;

        //}
    </script>
</head>
<body>
<h1>Welcome!<span>FPT Information System</span><br/>
    <span style="font-size: 60%">Register to access free Wi-Fi</span></h1>
<div class="login-box">
    <form method="post" action='@Url.Action("Index", "Login")' id="login-form">
        @Html.AntiForgeryToken();
        <input TYPE="hidden" NAME="buttonClicked" SIZE="16" MAXLENGTH="15" value="0">
        <input TYPE="hidden" NAME="redirect_url" SIZE="255" MAXLENGTH="255" VALUE="">
        <input TYPE="hidden" NAME="err_flag" SIZE="16" MAXLENGTH="15" value="">

        <input type="text" name="email" id="email" placeholder="Email"><label class="hidden" style="color: red" for="email">Please enter another email!</label>
        <input type="password" name="code" placeholder="Code" disabled=""><label class="hidden" style="color: red" name="code">Wrong code! Please try another one!</label>
        <br/><br/>
        <div class="btn">
            <input type="button" name="checkEmail" onclick="sendEmail()" value="Send Email">
            <input type="submit" name="loginWifi" value="Access Wifi" disabled="">
        </div>
        <div class="clear"></div>
    </form>		
</div>		
</body>
</html>
