@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>FPT Information System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/FISProject/css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/FISProject/css/font-awesome.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var userId = -1;

        function sendEmail() {
            var inputValue = $('#email').val();
            var userEmail = $('#useremail').val();

            var label = $('label[for=email]');
            if (inputValue) {
                $('#email').attr("disabled", "disabled");
                $('[name=checkEmail]').attr("disabled", "disabled");
                $('#name').attr("disabled", "disabled");
                $('#userEmail').attr("disabled", "disabled");
                $.ajax({
                    "method": "POST",
                    "dataType": "json",
                    "url": '@Url.Action("CheckEmail")',
                    "data": {
                        "__RequestVerificationToken": $('form input[name=__RequestVerificationToken]').val(),
                        "sponsorEmail": inputValue,
                        "guestName": $('#name').val(),
                        "userEmail": userEmail,
                    },
                    "success": function(data) {
                        if (data.success == true) {
                            $('[name=code]').removeAttr('disabled');
                            $('[name=loginWifi]').removeAttr('disabled');
                            label.css("visibility", "hidden");
                            userId = data.userId;
                        } else {
                            $('#email').removeAttr("disabled");
                            $('[name=checkEmail]').removeAttr("disabled");
                            $('#name').removeAttr("disabled");
                            $('#userEmail').removeAttr("disabled");
                            swal("Invalid!", "Sponsor's email should look like example@gmail.com");
                            //$('#message').css("visibility", "visible");
                            //$('#message').text(data.message);
                            label.css("visibility", "visible");
                        }
                    },
                    "error": function(error) {
                        $('#email').removeAttr("disabled");
                        $('[name=checkEmail]').removeAttr("disabled");
                        $('#name').removeAttr("disabled");
                        $('#useremail').removeAttr("disabled");
                        alert("Something went wrong! Please try again!");
                        console.log(error);
                    }
                });
            } else {
                label.css("visibility", "visible");
            }
        }

        clearMessage = function() {
            $('#message').css("visibility", "hidden");
        };

        function sendCode() {
            if (userId != -1) {
                var inputValue = $('#code').val();
                $.ajax({
                    url: '@Url.Action("CheckCode")',
                    method: "POST",
                    data: {
                        "__RequestVerificationToken": $('form input[name=__RequestVerificationToken]').val(),
                        "inpCode": inputValue,
                        "userId": userId
                    },
                    type: "json",
                    success: function(data) {
                        if (data.success == false) {
                            var label = $('label[for=code]');
                            label.css("visibility", "visible");
                            swal("Failed", "Please contact the sponsor to access wifi", "error");
                            //$('#message').css("visibility", "visible");
                            //$('#message').text(data.message);
                        } else {
                            createSubmitForm();
                        }
                    },
                    error: function(error) {
                        $('[name=loginWifi]').attr('disabled');
                        $('#email').removeAttr("disabled");
                        $('[name=checkEmail]').removeAttr("disabled");
                        $('#useremail').removeAttr("disabled");
                    }
                });
            }
        };

        function createSubmitForm() {
            var link = document.location.href;
            var searchString = "redirect=";
            var equalIndex = link.indexOf(searchString);
            var redirectUrl = "";

            var args = new Object();
            var query = location.search.substring(1);
            var pairs = query.split("&");
            for (var i = 0; i < pairs.length; i++) {
                var pos = pairs[i].indexOf('=');
                if (pos == -1) continue;
                var argname = pairs[i].substring(0, pos);
                var value = pairs[i].substring(pos + 1);
                args[argname] = unescape(value);
            }
            document.forms[0].action = args.switch_url;

            if (equalIndex >= 0) {
                equalIndex += searchString.length;
                redirectUrl = "";
                redirectUrl += link.substring(equalIndex);
            }
            if (redirectUrl.length > 255)
                redirectUrl = redirectUrl.substring(0, 255);
            document.forms[0].redirect_url.value = redirectUrl;

            document.forms[0].buttonClicked.value = 4;
            document.forms[0].err_flag.value = 0;

            document.forms[0].submit();
        }
    </script>
</head>
<body>
<div>
    <div class="header-w3l">
        <h1>FPT Information System</h1>
    </div>
    <div>
        <div class="sub-main-w3">
            <div class="wthree-pro">
                <span id="message" class="error" style="visibility: hidden">Error</span>
            </div>

            <form method="post" action='@Url.Action("Index", "Login")' id="login-form">
                @Html.AntiForgeryToken()
                <input TYPE="hidden" NAME="buttonClicked" SIZE="16" MAXLENGTH="15" value="0">
                <input TYPE="hidden" NAME="redirect_url" SIZE="255" MAXLENGTH="255" VALUE="">
                <input TYPE="hidden" NAME="err_flag" SIZE="16" MAXLENGTH="15" value="">

                <div class="pom-agile">
                    <p style="font-size: 15px; color: white; text-shadow: 3px 1px 3px #101010;"><span style="color: red">*</span> Sponsor's &#64;gmail.com email address</p>
                    <input name="email" id="email" class="pass" type="email" required="" onfocus="clearMessage()">
                </div>

                <div class="pom-agile">
                    <p style="font-size: 15px; color: white; text-shadow: 3px 1px 3px #101010;"><span style="color: red">*</span> Your full name (First and Last)</p>
                    <input name="name" id="name" class="pass" type="text" required="">
                </div>

                <div class="pom-agile">
                    <p style="font-size: 15px; color: white; text-shadow: 3px 1px 3px #101010;"><span style="color: red">*</span> Your email address</p>
                    <input name="code" id="useremail" class="pass" type="email" required="">
                </div>
                
                <div class="pom-agile">
                    <p style="font-size: 15px; color: white; text-shadow: 3px 1px 3px #101010;"><span style="color: red">*</span> Your generated code</p>
                    <input name="code" id="code" class="pass" disabled="" type="text" required="" onfocus="clearMessage()">
                </div>

                <div class="sub-w3l">
                    <div class="right-w3l">
                        <input type="button" name="checkEmail" onclick="sendEmail()" value="Send">
                        <input type="button" name="loginWifi" onclick="sendCode()" disabled="" value="Login">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>